<!DOCTYPE html>
<html>

<head>
	<title>Lego Collection</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="css/theme.css">
</head>

<body>
	<%- include('partials/navbar',{page: '/lego/sets'}) %>
	<br />

	<div class="container">
		<div class="row">
			<main class="col-md-12">

                <section class="bg-light text-center py-5">
                    <div class="container">
                        <h1 class="display-5 fw-bold">Collection</h1>
                        <p class="lead text-muted">Browse the entire collection.  Click the theme to filter by themes such as:<br /><a href="/lego/sets?theme=Technic" class="btn btn-primary btn-sm">Technic</a> <a href="/lego/sets?theme=Classic Town" class="btn btn-primary btn-sm">Classic Town</a>  <a href="/lego/sets?theme=Supplemental" class="btn btn-primary btn-sm">Supplemental</a> </p>
                    </div>
                </section>
                <table class="table table-striped">
                    <tbody>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/001-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Gears | <a href="/lego/sets?theme=Technic" class="btn btn-primary btn-sm">Technic</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1965 - <span class="fw-bold">Parts:</span> 43</td>
                          <td>
                            <a href="/lego/sets/001-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/0011-2.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Town Mini-Figures | <a href="/lego/sets?theme=Classic Town" class="btn btn-primary btn-sm">Classic Town</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1979 - <span class="fw-bold">Parts:</span> 12</td>
                          <td>
                            <a href="/lego/sets/0011-2" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/0011-3.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Castle 2 for 1 Bonus Offer | <a href="/lego/sets?theme=Lion Knights" class="btn btn-primary btn-sm">Lion Knights</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1987 - <span class="fw-bold">Parts:</span> 0</td>
                          <td>
                            <a href="/lego/sets/0011-3" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/0012-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Space Mini-Figures | <a href="/lego/sets?theme=Supplemental" class="btn btn-primary btn-sm">Supplemental</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1979 - <span class="fw-bold">Parts:</span> 12</td>
                          <td>
                            <a href="/lego/sets/0012-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/0013-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Space Mini-Figures | <a href="/lego/sets?theme=Supplemental" class="btn btn-primary btn-sm">Supplemental</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1979 - <span class="fw-bold">Parts:</span> 12</td>
                          <td>
                            <a href="/lego/sets/0013-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/0014-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Space Mini-Figures | <a href="/lego/sets?theme=Supplemental" class="btn btn-primary btn-sm">Supplemental</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1979 - <span class="fw-bold">Parts:</span> 2</td>
                          <td>
                            <a href="/lego/sets/0014-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/0015-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Space Mini-Figures | <a href="/lego/sets?theme=Supplemental" class="btn btn-primary btn-sm">Supplemental</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1979 - <span class="fw-bold">Parts:</span> 18</td>
                          <td>
                            <a href="/lego/sets/0015-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/0016-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Castle Mini Figures | <a href="/lego/sets?theme=Classic Castle" class="btn btn-primary btn-sm">Classic Castle</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1979 - <span class="fw-bold">Parts:</span> 15</td>
                          <td>
                            <a href="/lego/sets/0016-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/002-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            4.5V Samsonite Gears Motor Set | <a href="/lego/sets?theme=Technic" class="btn btn-primary btn-sm">Technic</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1965 - <span class="fw-bold">Parts:</span> 3</td>
                          <td>
                            <a href="/lego/sets/002-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/002253963-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Legend of Chima: Corbeaux et Gorilles | <a href="/lego/sets?theme=Books" class="btn btn-primary btn-sm">Books</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 2013 - <span class="fw-bold">Parts:</span> 4</td>
                          <td>
                            <a href="/lego/sets/002253963-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/003-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Master Mechanic Set | <a href="/lego/sets?theme=Basic Set" class="btn btn-primary btn-sm">Basic Set</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1966 - <span class="fw-bold">Parts:</span> 403</td>
                          <td>
                            <a href="/lego/sets/003-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/005-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Basic Building Set in Cardboard | <a href="/lego/sets?theme=Basic Set" class="btn btn-primary btn-sm">Basic Set</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1965 - <span class="fw-bold">Parts:</span> 35</td>
                          <td>
                            <a href="/lego/sets/005-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/005-2.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Discovery Set | <a href="/lego/sets?theme=Basic Set" class="btn btn-primary btn-sm">Basic Set</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1967 - <span class="fw-bold">Parts:</span> 0</td>
                          <td>
                            <a href="/lego/sets/005-2" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/00-6.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Special Offer | <a href="/lego/sets?theme=Classic Town" class="btn btn-primary btn-sm">Classic Town</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1985 - <span class="fw-bold">Parts:</span> 0</td>
                          <td>
                            <a href="/lego/sets/00-6" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/010-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Basic Building Set in Cardboard | <a href="/lego/sets?theme=Basic Set" class="btn btn-primary btn-sm">Basic Set</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1965 - <span class="fw-bold">Parts:</span> 57</td>
                          <td>
                            <a href="/lego/sets/010-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/010-2.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Pre-School Set | <a href="/lego/sets?theme=Basic Set" class="btn btn-primary btn-sm">Basic Set</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1973 - <span class="fw-bold">Parts:</span> 18</td>
                          <td>
                            <a href="/lego/sets/010-2" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/010-3.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Basic Building Set | <a href="/lego/sets?theme=Basic Set" class="btn btn-primary btn-sm">Basic Set</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1968 - <span class="fw-bold">Parts:</span> 77</td>
                          <td>
                            <a href="/lego/sets/010-3" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/010423-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            The Majestic Horse | <a href="/lego/sets?theme=Icons" class="btn btn-primary btn-sm">Icons</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 2023 - <span class="fw-bold">Parts:</span> 0</td>
                          <td>
                            <a href="/lego/sets/010423-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/01-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Chain Links | <a href="/lego/sets?theme=Technic" class="btn btn-primary btn-sm">Technic</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1980 - <span class="fw-bold">Parts:</span> 25</td>
                          <td>
                            <a href="/lego/sets/01-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/011-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Basic Building Set | <a href="/lego/sets?theme=Basic Set" class="btn btn-primary btn-sm">Basic Set</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1968 - <span class="fw-bold">Parts:</span> 145</td>
                          <td>
                            <a href="/lego/sets/011-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/01-2.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Bulldozer Chain Links | <a href="/lego/sets?theme=Technic" class="btn btn-primary btn-sm">Technic</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1982 - <span class="fw-bold">Parts:</span> 50</td>
                          <td>
                            <a href="/lego/sets/01-2" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/02-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Extra Large Tires &amp; Hubs | <a href="/lego/sets?theme=Technic" class="btn btn-primary btn-sm">Technic</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1982 - <span class="fw-bold">Parts:</span> 4</td>
                          <td>
                            <a href="/lego/sets/02-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/021-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Wheel Set | <a href="/lego/sets?theme=Basic Set" class="btn btn-primary btn-sm">Basic Set</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1966 - <span class="fw-bold">Parts:</span> 183</td>
                          <td>
                            <a href="/lego/sets/021-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/02-2.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Digger Bucket Assembly | <a href="/lego/sets?theme=Technic" class="btn btn-primary btn-sm">Technic</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1980 - <span class="fw-bold">Parts:</span> 3</td>
                          <td>
                            <a href="/lego/sets/02-2" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/022-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Basic Building Set | <a href="/lego/sets?theme=Basic Set" class="btn btn-primary btn-sm">Basic Set</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1968 - <span class="fw-bold">Parts:</span> 110</td>
                          <td>
                            <a href="/lego/sets/022-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/0241187567-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Ninjago: Build Your Own Adventure | <a href="/lego/sets?theme=Books" class="btn btn-primary btn-sm">Books</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 2015 - <span class="fw-bold">Parts:</span> 74</td>
                          <td>
                            <a href="/lego/sets/0241187567-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/0241357594-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Star Wars: Build Your Own Adventure: Galactic Missions | <a href="/lego/sets?theme=Books" class="btn btn-primary btn-sm">Books</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 2019 - <span class="fw-bold">Parts:</span> 70</td>
                          <td>
                            <a href="/lego/sets/0241357594-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/028-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Nursery Furniture | <a href="/lego/sets?theme=Playhouse" class="btn btn-primary btn-sm">Playhouse</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1979 - <span class="fw-bold">Parts:</span> 7</td>
                          <td>
                            <a href="/lego/sets/028-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/030-2.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            Building Set | <a href="/lego/sets?theme=Basic Set" class="btn btn-primary btn-sm">Basic Set</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1973 - <span class="fw-bold">Parts:</span> 29</td>
                          <td>
                            <a href="/lego/sets/030-2" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                        <tr>
                          <td>
                            <div class="d-flex align-items-center"> 
                              <div class="rounded" style="width: 8rem; height: 8rem; background-image: url('https://cdn.rebrickable.com/media/sets/03093-1.jpg'); background-size: cover; background-position: center;"></div>
                            </div>
                          </td>
                          <td>
                            The Race to Build It Board Game | <a href="/lego/sets?theme=Early Creator" class="btn btn-primary btn-sm">Early Creator</a>
                          </td>
                          <td><span class="fw-bold">Year: </span> 1999 - <span class="fw-bold">Parts:</span> 77</td>
                          <td>
                            <a href="/lego/sets/03093-1" class="btn btn-secondary btn-sm">Details</a>
                          </td>
                        </tr>
                      
                    </tbody>
                  </table>
			</main>
		</div>
	</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>

</html>